nguage: cpp
sudo: required
dist: bionic
addons:
    apt:
     sources:
      - boost-latest
      - ubuntu-toolchain-r-test
     packages:
      - gcc-4.9
      - g++-4.9
      - libboost1.55-all-dev
compiler:
  - clang
  - g++
os:
  - linux
before_install:
  - echo $LANG
  - echo $LC_ALL
  - if [ $TRAVIS_OS_NAME == linux ]; then ./scripts/dependencies.sh; fi
script: ./.build.sh
