nguage: cpp
sudo: required
dist: bionic
before_install:
  - sudo apt-get update
  - sudo apt-get install -y boost-latest
  - sudo apt-get install -y ubuntu-toolchain-r-test

addons:
    apt:
      packages:
      - gcc-7
      - g++-7
      - libboost1.55-all-dev
compiler:
  - clang
  - g++
os:
  - linux
before_install:
  - echo $LANG
  - echo $LC_ALL
  - if [ $TRAVIS_OS_NAME == linux ]; then ./scripts/dependencies.sh; fi
script: ./.build.sh
